@import "tailwindcss";

@theme {
    --color-gray-900: #202225;
    --color-gray-800: #2f3136;
    --color-gray-700: #36393f;
    --color-gray-600: #4f545c;
    --color-gray-400: #d4d7dc;
    --color-gray-300: #e3e5e8;
    --color-gray-200: #ebedef;
    --color-gray-100: #f2f3f5;
    --color-primary: #5865f2;

   --color-custom-blue: #2997FF;
   --color-custom-grayd: #86868b;
    --color-custom-gray100: #94928d;
   --color-custom-gray200: #afafaf;
   --color-custom-gray300: #42424570;
   --color-custom-zinc: #101010;
   
  }